body{
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
    font-family : 'Encode Sans', sans-serif;
    
}

header{

    position: relative;
    padding-top: 15px;
    background-color: #fdfdfd;
}
main{
    overflow: hidden;
    position: relative;
    font-weight: 600;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

                            /* __________________header style start________________*/
.background-img-top{
    background-image: url('../img/Background-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    width: 95.7%;
    position: absolute;
    height: 460px;
    left: -36.6%;
    background-position-x: right;
    top: -30px;
}
.background-top-second-part{
    background-image: url('../img/Background-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    position: absolute;
    height: 452px;
    left: -39.5%;
    top: -296px;
    background-position-x: right;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    margin-left: 5px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    margin-left: 5px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
    margin-left: 5px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
    margin-left: 5px;
  }
  .style-calendar-input{
      padding-left: 10px;
      border-radius: 5px;
      height: 26px;
      min-width: 185px;
      font-size: 14px;
      border: 1px solid #d4d4d4;
  }
  
  .first-calendar{
      margin-left: 15px;
      margin-right: 25px;
  }
  
.wrap-header{
    display: flex;
    position: relative;
    justify-content: space-around;
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    min-height: 188px;
}
.logo-project{
    text-align: center;
    flex-grow: 1;
    z-index: 2;
    margin-bottom: 35px;
}
.monblan-project{
    margin-left: 18%;
    flex-grow: 3;
    margin-top: 35px;
}
.name-and-date{
    display: flex;
}
.name-monblan{
    font-size: 28px;
    font-weight: 500;
}
.date-monblan{
    margin-left: 20px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #3d90dd;
    border-radius: 5px;
    color: #3d90dd;
    
    
}
.posts-and-followers{
    display: flex;
    margin-top: 25px;
    font-size: 17px;
}
.monblan-posts{
    margin-right: 28px;
}
.monblan-followers{
    margin-right: 28px;
}
.style-btn-for-calendar{
    cursor: pointer;
    position: absolute;
    outline: 0;
    border: 1px solid #d4d4d4;
    
}
input:focus {
    outline: none;
}
.style-btn-for-calendar .fas{
    margin: 0;
    font-size: 26px;
    color: #848484;
}
.style-btn-for-calendar .far{
    margin: 0;
    font-size: 26px;
    color: #848484;
}
.open-btn-calendar{
    right: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.close-btn-calendar{
    right: 36px;
}
.date-picker{
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}
.qs-datepicker-container{
    margin-top: 3px;
    
    font-family: 'Encode Sans', sans-serif;
}




.qs-arrow.qs-left:after{
    content: '\f100';
    border: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    right: 10%;
}
.qs-arrow.qs-right:after{
    content: '\f101';
    border: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    left: 10%;
}
.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover{
    background: #3d90dd;
    color: #fff;
}
.qs-day{
    color: #000;
}
.qs-controls{
    background: #fff;
}


                            /* __________________header style END________________*/



                            /* _____________Main Style start ______________*/

.burger-button{
    display: flex;
    justify-content: flex-end;
    height: 32px;
    width: 100%;
    max-width: 935px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 15px;
}
.burger-button button{
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
}
.burger-button .fas {
    font-size: 30px;
    color: #d8d8d8;
    margin-right: 0;
    transition: transform 1s;
    transition-delay: 1s;
    transition-duration: 2s;
}
.burger-button .fas:hover{
    font-size: 35px;
}

.active .fas{
    color: #3d90dd;
}
.flex-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 935px;
    margin: 0 auto;
    position: relative;
}
.wrap-posts{
    margin-left: 35px;
    margin-right: 90px;
    margin-top: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.fa{
    margin-right: 5px;
}
.fas{
    margin-right: 5px;
    margin-left: 20px;
}
.logo-post{
    height: 95px;
}
.post{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fff;
    color: black;
}
.wrap-likes-and-comment{
    display: flex;

}
.wrap-likes-and-comment, .when-upload{
    margin-top: 18px;
}




/* Footer style */


.btn-add{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 10px 30px;
    
}
.button-load-more{
    position: relative;
    padding-bottom: 75px;
}
.background-footer{
    background-image: url('../img/background-bot.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 542px;
    height: 410px;
    right: -660px;
    bottom: -85px;
    background-size: contain;
  
}

.style-btn-load-more{
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: #fff;
    outline: none;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
}
.style-btn-load-more:hover{
    background-color: #3d90dd;
    color: #fff;
}
   


                        /* ______________Change for button grid_______________________ */

.grid-view.flex-wrap{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-view .post{
    width: 32.5%;
    position: relative;
}
.grid-view .post::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.grid-view .logo-post img{
    display: block;
    width: 100%;
    height: 100%;
}

.grid-view .logo-post{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.grid-view .logo-post::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.grid-view .wrap-posts{
    color: #fff;
    z-index: 2;
    font-weight: 400;
    margin: 0;
    flex-direction: column;
    justify-content: flex-end;
    
}
.grid-view .wrap-posts::before{
    content:'';
    display: block;
}
.grid-view .like-and-comment-today,
.grid-view .like-and-comment-early{
    display: flex;
    margin-top: 20px;
}
.grid-view .wrap-likes-and-comment,
.grid-view .when-upload{
    margin: 0;
}
.grid-view .wrap-likes-and-comment{
    flex-grow: 2;
    justify-content: flex-end;
    margin-right: 45px;
}
.grid-view .when-like-and-comment{
    flex-grow: 1;
    margin-left: 20px;
}

.grid-view .image-upload-date{
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
.grid-view .upload-image::after{
    content: ':';
    margin-right: 5px;
}


/*------------------------------Media query-------------------------  */

@media (max-width: 920px) { 
    .monblan-project{
        margin-left: 10%;
    }
}
@media (max-width: 825px) { 
    .background-img-top{
        left: -27.6%;
    }
    .background-top-second-part{
        left: -30.5%;
    }

    .grid-view .post{
        width: 49%;
    }

}
@media (max-width: 780px) { 
    .wrap-header{
        flex-direction: column;
    }
    .background-img-top{
        background: none;
    }
    .background-top-second-part{
        background: none;
    }
    .monblan-project{
        margin: 0 auto;
    }
    .logo-project{
        background: #b6dfca;
    }
    .wrap-posts{
        margin-right: 40px;
    }
}

@media (max-width: 600px) { 
    .qs-datepicker-container{
        left: -66px!important;
    }
    .wrap-posts{
        margin-left: 10px;
        margin-right: 10px;
    }
    .grid-view .wrap-likes-and-comment{
        margin-right: 20px;
    }
}


@media (max-width: 499px){
    .date-picker{
        flex-direction: column;
    }
    .first-calendar{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .date{
        margin-bottom: 5px;
    }
    header{
        padding-top: 0;
    }
    .logo-project{
        padding-top: 10px;
    }
    .monblan-project{
        padding-left: 5px;
        padding-right: 5px;
    }
    .qs-datepicker-container {
        left: -33px!important;
    }
    .grid-view .post{
        width: 99%;
        flex-direction: row;
    }
    .post{
        flex-direction: column;
    }
    .logo-post{
        text-align: center;
    }
}